body {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #0F172A;
    border-bottom-left-radius: 20px;
}

nav {
    background-color: #0F172A;
    border-bottom-right-radius: 20px;
    text-align: end;
}

.text {
    margin: 20px 20px 25px 40px;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 50px;
    flex-wrap: wrap;
}

footer {
    background-color:#0F172A;
    color: #FFFFFF;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* ---------------------------------------------- */

nav a {
    color: #E5E7EB;
    text-decoration: none;
    display: inline-block;
    margin-top: 28px;
    margin-right: 10px;
    padding: 5px 40px;
    font-size: 16px;
    border: 2px #3B82F6 solid;
    border-radius: 35px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    transform: scale(1);
}

nav a:hover{
    background-color: #3B82F6;
    color:white;
    transform: scale(1.08);
}

nav button.nav-button {
    background-color: transparent;
    color: #E5E7EB;
    border: 2px #3B82F6 solid;
    border-radius: 35px;
    padding: 5px 40px;
    margin-top: 28px;
    margin-right: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
}

nav button.nav-button:hover {
    background-color: #3B82F6;
    color: white;
    transform: scale(1.08);
}

.contact-box {
    background: linear-gradient(135deg,#89f7fe, #3B82F6);
    border-radius: 12px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.36);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-box:hover {
    transform: translateY(-8px);
}


header h1 {
    font-family: 'Poppins', sans-serif;
    color: #E5E7EB;
    font-size: 24px;
    margin-top: 32px;
    margin-left: 100px;
}

.text h2 {
    color: #3B82F6;
}

footer p {
    margin: 26px 10px;
    text-align: center;
    
}